<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

    <style>
        .mainContainer{
            width: 100%;
            font-size: 18px;
            font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
            display: flex;
            align-items: center;
            justify-content: center;
        }
        .wrapper{
            width: 100%;
            max-width: 95%;
        }
    </style>
</head>
<body>
    <div class="mainContainer">
    <div class="wrapper">
            Dear, Mr. {{name}}, <br> <br> 
 
Greetings from Maxis Holidays!!! <br><br>
 
Welcome to Maxis Holidays. We are honored that you selected us to provide a million smiles to you and your family; therefore we assure you an abundance of joy on every holiday you enjoy with us. <br><br>
 
At Maxis Holidays, we believe that holidays are a time to spend with your family. They are also a time to have new adventures and explore new places. We want you to enjoy the taste of different cultures and experiences at our resorts. <br><br>
 
Our customer service team would be delighted to help you plan your dream holiday and answer any questions you may have about your package. Simply call {{comp_phone}} or email {{comp_email}}, and we'll take care of everything for you! <br><br>
 
We provide a Welcome Kit for our happy client that includes a Welcome Letter, Package certificate, and card, which will be delivered to your address in 30 days. <br><br>
 
Your vacation doesn't have to end when you check out. To help us serve you better next time and every time, please send your feedback to info@maxisholidays.in. <br><br>
 
We can't wait to welcome you and your family on holiday with us soon! <br><br>
 
Wishing you all the best this holiday season! <br><br><br>
 
Team Maxis Holidays <br>
Member Relations
    </div>

    </div>
</body>
</html>